<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.innoteam.smartapps" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DialogActivate"
            android:label="@string/dialog_activate_text_header"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Smartapps.Theme.Dialog"
             >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.innoteam.smartapps.MainActivity" />
        </activity>
        <activity
            android:name=".ResultActivate"
            android:label="@string/title_activity_result_activate"
            android:parentActivityName=".MainActivity"
            android:theme="@style/CustomActionBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.innoteam.smartapps.MainActivity" />
        </activity>
    </application>

</manifest>
